<!-- Soluciones digitales-->
<section class="page-section bg-light" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text mt-0">Creamos soluciones digitales</h2>
                <hr class="divider" />
                <p class="text-75 mb-4">Como socios tecnológicos de nuestros clientes contamos con profesionales de gran conocimiento y experiencia en el área digital. Nuestros equipos trabajan utilizando diferentes metodologías para entregar proyectos digitales innovadores y de calidad certificada.</p>
                <p class="text-75 mb-4">Con 25 años en el mercado nacional, y más de 7 en el internacional, hoy contamos con más de 1.700 proyectos exitosos, exportamos servicios a Estados Unidos, Perú y México y contamos con la validación de nuestros pares que han premiado nuestra capacidad de innovación, gestión y calidad, lo que nos permite satisfacer a nuestros clientes.</p>
            </div>
        </div>
    </div>
</section>