<!-- Componente texto soluciones digitales (Nosotros página)-->
<section class="page-section bg-light" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text mt-0">{{soluciones_digitales.titulo}}</h2>
                <hr class="divider" />
                <p class="text-75 mb-4">{{soluciones_digitales.descripcion}}</p>
                <p class="text-75 mb-4">{{soluciones_digitales_1.descripcion}}</p>
            </div>
        </div>
    </div>
</section>