<!-- Mision/Vision-->
<section class="page-section" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">{{mision.titulo}}</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">{{mision.descripcion}}</p>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">{{vision.titulo}}</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">{{vision.descripcion}}</p>
            </div>
        </div>
    </div>
</section>