<div class="container">
  <div style="padding-top: 3%">
    <h2 class="titulo text-center">¿QUÉ HACEMOS?</h2>
    <h4 class="parrafo text-center">Diseñamos, desarrollamos e implementamos soluciones digitales.</h4>
    <div class="container mx-auto mt-4">
      <div class="row">
        <div class="col-md-4" *ngFor="let solucion of soluciones">
          <div class="card" style="width: 24rem;">
            <img src="../../../../../assets/img/solutions/web.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{solucion.titulo}}</h5>
              <p class="card-text">{{solucion.descripcion}}</p>
              <a href="#contacts" class="btn mr-2"><i class="fas fa-link"></i>CONTÁCTANOS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

<div class="barra text-center mt-2">
  <div class="row">
    <div class="col line-grey">
      <h3>+ de 25 años</h3>
      <p>BRINDANDO SOLUCIONES INNOVADORAS</p>
    </div>
    <div class="col line-grey">
      <h3>+ de 230.000</h3>
      <p>HORAS HOMBRES AL AÑO DISPONIBLES PARA TU PROYECTO</p>
    </div>
    <div class="col">
      <h3>+ de 1.700</h3>
      <p>PROYECTOS DIGITALES DESARROLLADOS EXITOSAMENTE</p>
    </div>
  </div>
</div>
