.Soluciones{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.col{
    width: 320px;
    margin: 10px;
    overflow: hidden;
    border-radius: 4%;
    cursor: pointer;
}

.card > img{
    width: 35%;
    height: 15%;
    object-fit: cover;
    display: block;
    justify-content: center;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #f5801e;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: rgb(255, 255, 255);
}

.card:hover .hover-galeria{
    transform: scale(1);
}

.barra{
    color: white;
    background-color: #00b1dd;
    height: 150px;
}

.line-grey{
    border-right: solid 1px #ffffff;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    width: 10%;
    height: 10%;
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}