:root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
}

body {
  background: #ffffff !important;
}

.card {
  display: block;
  margin: auto;
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #000000cc;
  margin-bottom: 2rem;
}

.card-title {
  color: #272626;
  text-align: center;
  margin: auto;
}

.card-text{
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  text-align: justify;
}

.card-img-top {
  padding-top: 5%;
  width: 100px;
  display: block;
  margin: auto;
}

.btn {
  border: 5px solid #ffffff;
  border-width: 2px;
  border-image-slice: 1;
  background: #F7921E !important;
  -webkit-background-clip: border-box !important;
  -webkit-text-fill-color: #ffffff !important;
  border-image-source: #F7921E !important;
  text-decoration: none;
  transition: all 0.4s ease;
  margin: auto;
  display: block;
}

.btn:hover,
.btn:focus {
  background: #ffffff !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #F7921E !important;
  border: 5px solid #ffffff !important;
  box-shadow: #222 1px 0 10px;
}

.container {
  display: block;
  margin: auto;
}

.hover-galeria{
  background-color: #F7921E;
}

.barra{
  padding-top: 30px;
  color: white;
  background-color: #00b1dd;
  height: 140px;
  width: 99%;
}

.line-grey{
  border-right: solid 1px #ffffff;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
}
.titulo{
  padding-bottom: 2%;
}

.change :hover{
  background-color: #F7921E;
}